<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../poppins.css">
    <link rel="stylesheet" href="../all.min.css">
</head>
<body>
    <%- include("nav") %>

    <section class="displayblog">
        <div id="parent-box"></div>
    </section>
</body>
<script src="../index.js"></script>
</html>