<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog navBar</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="../poppins.css">
</head>
<body>
    <header>
        <div class="row justify-between">
            <div class="logo">
                <a href="">BLOGS</a>
            </div>
            <nav class="navigation">
                <ul class="row">
                    <li><a href="/blog">Home</a></li>
                    <li><a href="/blog/create">Add Blog</a></li>
                    <li><a href="/user/login">Login</a></li>
                    <li><a href="/user/signup">Sing Up</a></li>
                </ul>
            </nav>
            </div>
    </header>
</body>
</html>